<?xml version='1.0'?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='urn:magento:framework/Event/etc/events.xsd'>
	<event name="adminhtml_customer_save_after">
        <observer name="Ebizcharge_Ebizcharge_Addcustomer" instance="Ebizcharge\Ebizcharge\Observer\Addcustomer" />
    </event>
	<event name="checkout_submit_all_after">
       <observer name="Ebizcharge_Ebizcharge_Addorder" instance="Ebizcharge\Ebizcharge\Observer\Addorder" />
   </event>
	<event name="sales_order_invoice_save_after">
		<observer name="Ebizcharge_Ebizcharge_Addinvoice" instance="Ebizcharge\Ebizcharge\Observer\Addinvoice" />
    </event>
	<event name="admin_system_config_changed_section_payment">
        <observer name="custom_admin_system_config_changed_section_payment" instance="Ebizcharge\Ebizcharge\Observer\ConfigObserver"/>
    </event>
</config>