.selectdiv {
    margin-left: 0px;
    margin-top: 0px;
    width: 230px;
}

.start.label .end.label {
    width: 70px;
    float: left;
}

.start span {
    padding: 5px 0;
    float: left;
}

.end span {
    padding: 5px 0;
    float: left;
    margin: 0 10px 0 10px;
}

#start_date {
    width: 150px;
    float: right;
}

#expire_date {
    width: 150px;
    float: right;
}

.modal-popup .modal-inner-wrap {
    width: 35%;
}

.start {
    width: 50%;
    float: left;
}

.end {
    width: 50%;
    float: left;
}

.tdfreq {
    vertical-align: inherit;
    padding: 0px;
    margin: 0px;
    width: 45px;
}

.dateclass {
    height: 25px;
    border: #cccccc solid 1px;
}

.zero {
    margin: 0px;
    padding: 0px;
}

.left {
    float: left;
}

.selectdiv {
    margin-left: 0px;
    margin-top: 0px;
}

.leftdiv {
    float: left;
    width: 50%;
    padding: 10px;
}

.rightdiv {
    float: left;
    padding: 0px 10px;
}

.background {
    background: #fff;
}

.left {
    width: 40%;
    float: left;
}

.indefinitely {
    clear: both;
}

input.date-picker {
    background: #ffffff url('../images/select-bg.svg') no-repeat 100% 45%;
    background-size: auto;
    background-clip: border-box;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 4px 25px 5px 10px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}

button:not(.primary) {
    box-shadow: none;
}

.actions-toolbar {
    margin: 12px 0 0 0;
}

.field.required {
    width: 100%;
    float: left;
    margin: 0 0 5px 0;
}

.label.field-label {
    width: 35%;
    float: left;
    padding: 5px 0px;
}

.field-control.control {
    width: 65%;
    float: right;
}

.field-control.outer {
    width: 100%;
}

#payment_exp_new {
    width: 45%;
    float: left;
}

#payment_exp_yr_new {
    width: 45%;
    float: right;
}

#payment_msg {
    color: red;
    margin: 0 0 20px 0;
    float: left;
    width: 100%;
}

#payment_msgcNum {
    color: red;
    margin: 0 0 20px 0;
    float: left;
    width: 100%;
}

#payment_msgCvv {
    color: red;
    margin: 0 0 20px 0;
    float: left;
    width: 100%;
}

.title {
    font-size: 16px;
    font-weight: bold;
}
.msgUnsub {
    width: 100%;
    color: red;
    font-style: italic;
}
